<!-- Vertically centered Modal --> 
<div class="modal fade" id="{{ name }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title "><b>Les Informations du Bibliothecaire</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="#poster" method="post">
          {% csrf_token %}
          <div class="modal-body">
              <input type="text" class="form-control">
              <input type="text" class="form-control">
              <input type="text" class="form-control">
              <input type="text" class="form-control">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div><!-- End Vertically centered Modal-->
